@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  transform-origin: top;
}

.nav {
  display: flex;
  align-items: center;
  color: $color-text;
  font-size: 30px;
  padding: 20px;
  flex-direction: column;
  width: 100%;

  .mobileNav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
      height: 40px;
      @include unselectable;
      object-fit: contain;
    }
  }

  ul {
    @include center;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px;

    li {
      transition: all $transition;
      @include center;
      flex-direction: column;
      margin: 10px 25px;
      cursor: pointer;

      div {
        width: 0;
        background: $color-primary;
        height: 3px;
        transition: all $transition;
        margin-top: 5px;
        border-radius: 500px;
      }

      &:hover div,
      &:focus div {
        background-color: $color-primary-dark;
        width: 80%;
      }

      &.active div {
        width: 80%;
      }
    }
  }
}

.buttons {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;

  a {
    @include center;
    @include clickable($color-danger);
    color: $color-text;
    min-width: 150px;
    min-height: 40px;
    padding: 10px;
    text-align: center;
    border: $color-primary solid 3px;
    border-radius: 10px;
  }

  .primary {
    @include clickable($color-primary);
    border: none;
  }
}

@media (max-width: 767px) {
  .nav .buttons a {
    margin-top: 40px;
  }

  nav {
    transition: all $transition;
    position: fixed;
    top: 80px;
    opacity: 1;
    width: 100%;
    background-color: $color-bg;
    z-index: 100;
  }

  nav.closed {
    pointer-events: none;
    transform: scaleY(0);

    * {
      pointer-events: none;
      @include unselectable;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    font-size: 21px;
    flex-direction: row;
    align-items: flex-end;

    .mobileNav {
      width: min-content;

      img {
        width: initial;
        height: 40px;
      }

      div {
        display: none;
      }
    }

    ul {
      margin-left: 25px;
      padding: 0px;
      flex-direction: row;
      align-items: flex-end;

      li {
        margin: 0 25px;
      }
    }

    .buttons {
      margin-left: 20px;
    }
  }
}
