@import "../../config/sass/variables.scss";

.h1 {
  font-size: 89pt;
}

.h2 {
  font-size: 67pt;
}

.h3 {
  font-size: 50pt;
}

.nav-title {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.h4 {
  font-size: 37pt;
}

.h5 {
  font-size: 28pt;
}

.h6 {
  font-size: 21pt;
}

.p {
  font-size: 16pt;

  text-indent: 2em;
}

.light {
  color: #f2f2f2;
}

.dark {
  color: #333333;
}

.tab-control-child-active {
  border-bottom: 3px solid $color-primary !important;
  color: $color-text !important;
}
