.h1 {
  color: #222222;
  font-size: 89pt;
}

.h2 {
  color: #333333;
  font-size: 67pt;
}

.h3 {
  color: #333333;
  font-size: 50pt;
}

.h4 {
  color: #333333;
  font-size: 37pt;
}

.h5 {
  color: #333333;
  font-size: 28pt;
}

.h6 {
  color: #333333;
  font-size: 21pt;
}

.p {
  color: #333333;
  font-size: 16pt;
}