@import "../../../config/sass/variables.scss";

.link {
  font-size: 15px;
  color: $color-text-dark-second;
  text-decoration: none;
  padding: 2px 0;
  margin: 2px 0;
  display: flex;
  width: 100%;
  align-items: center;

  &Icon {
    font-size: 20px;
    padding: 10px;
    margin: 0 10px 0 10px;
    color: $color-text-dark-second;
  }

  &:hover {
    background-color: $color-bg;
    cursor: pointer;
    color: $color-text;
    border-radius: 6px;
  }

  &:hover > &Icon {
    color: $color-primary;
  }
}
