@import "../../../config/sass/variables.scss";


.link-active {
  background-color: rgba(#fff, 0.1);
  font-size: 15px;
  color: $color-text;
  text-decoration: none;
  border-radius: $default-border-radius;
  padding: 2px 0;
  margin: 2px 0;
  display: flex;
  width: 100%;
  align-items: center;
  cursor: default;
  pointer-events: none;

  &Icon {
    font-size: 20px;
    padding: 10px;
    margin: 0 10px 0 10px;
    color: $color-primary;
  }
}

.link {
  font-size: 15px;
  color: $color-text-second;
  text-decoration: none;
  padding: 2px 0;
  margin: 2px 0;
  display: flex;
  width: 100%;
  align-items: center;

  &Icon {
    font-size: 20px;
    padding: 10px;
    margin: 0 10px 0 10px;
    color: $color-text-second;
  }

  &:hover {
    background-color: $color-bg;
    cursor: pointer;
    color: $color-text;
    border-radius: $default-border-radius;
  }

  &:hover > &Icon {
    color: $color-primary;
  }
}
