@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.button {
  @include clickable($color-primary);
  color: $color-bg;
  min-width: 150px;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: $default-border-radius;
}
