@import "../../config/sass/variables.scss";

#root {
  background-color: $color-bg;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#main {
  background-color: $color-bg;
  padding: $margin 0;
  flex: 1;
}