@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.burger {
  $height: calc(100% / 5);
  cursor: pointer;
  position: relative;

  div {
    transition: all $transition;
    height: $height;
    background-color: white;
    border-radius: 10000px;

    &:nth-child(2) {
      transform: translateY(100%);
    }

    &:nth-child(3) {
      transform: translateY(200%);
    }
  }

  &:hover div,
  &:focus div {
    background-color: $color-text-second;

    &:nth-child(1) {
      transform: translateX(-5px);
    }

    &:nth-child(3) {
      transform: translate(-5px, 200%);
    }
  }

  &.active {
    div {
      &:nth-child(1) {
        transform: translateY(200%);
      }

      &:nth-child(3) {
        transform: translateY(0%);
      }
    }
  }
}
