@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.burger {
  $height: calc(100% / 5);
  cursor: pointer;
  position: relative;

  div {
    transition: all $transition;
    height: $height;
    background-color: white;
    border-radius: 10000px;

    &:nth-child(1) {
      transform-origin: left;
      transform: scaleX(1);
    }

    &:nth-child(2) {
      transform: translateY(100%);
    }

    &:nth-child(3) {
      transform-origin: right;
      transform: translateY(200%);
    }
  }

  &:hover div,
  &:focus div {
    background-color: $color-text-second;

    &:nth-child(1) {
      transform: scaleX(0.8);
    }

    &:nth-child(3) {
      transform: translateY(200%) scaleX(0.8);
    }
  }

  &.active {
    div {
      &:nth-child(1) {
        transform: translateY(200%) scaleX(0.8);
      }

      &:nth-child(3) {
        transform: translateY(0%) scaleX(0.8);
      }
    }
  }
}
