@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

@keyframes op {
  from {opacity: 0;}
  to {opacity: 1;}
}

li {
  list-style: none;
  padding: 1em;
}

#findBG {
  animation: op .3s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include center;
  background-color: rgba($color-bg, 0.7);

  & .dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px $color-bg;
    border-radius: 10px;
    width: 65%;
    height: 65%;
    background-color: $color-bg-light;
    padding: $margin;
    padding-right: 0;

    & > span {
      font-size: 29px;
      font-weight: 700;
      padding: 10px;
      color: $color-text;
      text-align: center;
    }

    & > div {
      width: 100%;
      display: flex;
      flex: 1;

      & > a:nth-child(1) > .grow {
        background: linear-gradient(-45deg, #4c87af, #4ca1af);
      }

      & > a:nth-child(2) > .grow {
        background: linear-gradient(-45deg, #396afc, #2948ff);
      }

      & > a:nth-child(3) > .grow {
        background: linear-gradient(-45deg, #f5844b, #ff5e62);
      }

      &.selected {
        & a {
          width: 0;
          flex: none;
          padding: 0;
          margin: 0;
          & > .group { opacity: 0; }
        }

        & a.selected {
          width: 100%;
          flex: 1;
          padding: $margin;
          margin-right: 10px;
          & > .group { opacity: 1; }
          & > .grow {
            top: 0;
          }
        }
      }

      & > a {
        cursor: pointer;
        flex: 1;
        position: relative;
        height: 100%;
        margin-right: 10px;
        border-radius: 10px;
        padding: $margin;
        @include center;
        transition: flex .5s;

        & > .group {
          height: min-content;
          z-index: 100;
          position: relative;
          @include center;
          flex-direction: column;
          transition: opacity .2s;

          & span {
            text-align: center;
            line-height: 1.4;

            &:nth-child(1) {
              font-weight: 700;
              color: $color-text;
              font-size: 29px;
            }

            &:nth-child(2) {
              color: $color-text-second;
              font-size: 21px;
            }
          }
        }

        & > .grow {
          @include fillArea;
          top: 100%;
          border-radius: 10px;
          background-color: #fff;
          transition: top 0.3s ease-out ;
          z-index: 11;
        }

        &:hover > .grow {
          top: 0;
        }
      }
    }

    & > i {
      @include circle(40px);
      @include center;
      @include clickable($color-bg);
      color: $color-text;
      position: absolute;
      font-size: 20px;
      right: 0;
      top: 0;
      z-index: 20;
      transform: translate(50%, -50%);
    }
  }
}
