@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scroll {
  overflow-y: auto;
  flex-grow: 100;
    &::-webkit-scrollbar-track {
      border-radius: 100px;
      background-color: $color-bg-light;
    }
  
    &::-webkit-scrollbar {
      width: 7px;
      background-color: $color-bg-light;
      border-radius: 100px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $color-bg;
      border-radius: 100px;
    }
}

@mixin circle($R) {
  width: $R;
  height: $R;
  border-radius: 50%;
}

@mixin fillArea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin clickable($color) {
  background-color: $color;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s;
  text-decoration: none;

  &:hover {
    background-color: lighten($color, 10%);
    box-shadow: 0 2px 4px $color-bg;
  }
}

@mixin close {
  & > i {
    @include circle(40px);
    @include center;
    @include clickable($color-bg);
    color: $color-text;
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    z-index: 20;
    transform: translate(50%, -50%);
  }
}

@mixin bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($color-bg, 0.7) !important;
  @include center;
}

@mixin popup {
  background-color: $color-bg-light !important;
  box-shadow: 0 10px 20px $color-bg  !important;
  border-radius: 10px !important;
  padding: $margin;
  position: relative;
  @include close;
}