$color-text: white;
$color-text-second: #bdc3c7;
$color-text-dark: #2e3131;
$color-text-dark-second: #85898b;

$color-bg: #1e2024;
$color-bg-light: #32393d;
$color-primary: #ff9a60;
$color-primary-dark:#dc7337;
$color-danger: #c03b3b;
$color-warning: #cf8300;
$color-ok: #66bb6a;
$color-info: #3b84c0;

$sidebar-width: 320px;
$margin: 12px;

$topbar-height: 60px;

$searchbar-width-min: 200px;
$searchbar-width-max: 300px;