//@import "../../config/sass/variables.scss";

$color-text: white;
$color-text-second: rgba(189, 195, 199, 1);
$color-text-dark: rgba(46, 49, 49, 1);
$color-text-dark-second: rgb(133, 137, 139);

$color-bg: #1e2024;
$color-bg-light: #32393d;
$color-primary: #ff9a60;
$color-primary-dark: #fe833d;
$color-danger: #c03b3b;
$color-warning: rgb(207, 131, 0);
$color-ok: #66bb6a;

$sidebar-width: 280px;
$margin: 15px;

$topbar-height: 60px;

$searchbar-width-min: 200px;
$searchbar-width-max: 300px;
