$color-text: rgba(242, 241, 239, 1);
$color-text-second: rgba(189, 195, 199, 1);
$color-text-dark: rgba(46, 49, 49, 1);
$color-text-dark-second: rgb(133, 137, 139);

$color-bg: #1E2024;
$color-bg-light: #454E54;
$color-primary: #FF9A60;
$color-primary-dark: #FE833D;
$color-danger: #FF3131;
$color-warning: #FFEC40;
$color-ok: #66BB6A;

$sidebar-width: 460px;
