@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

body {
  background: $color-bg;
}

#main {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-text;
  
  @include button;
}

.content {
  padding: 50px 50px;
  height: 100%;
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    z-index: 1;
    line-height: 1.4;
    width: 100%;


    h1 {
      font-size: 8vw;
      font-weight: 500;
    }

    p {
      width: 100%;
      font-size: 5vw;
      font-weight: 300;
      padding-left: 7vw;
    }

    @include button;
    .button {
      margin: 20px;
      align-self: center;
      width: min-content;
    }
  }

  img {
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: calc(100vh - 100px);
    width: 130vmin;
    object-fit: contain;
    object-position: bottom right;
    z-index: 0;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .primary {
    display: none;
    background-color: #fff;
  }
  .content {
    align-items: center;
    div {
      h1 {
        font-size: 5vw;
      }
      p {
        font-size: 1.3vw;
      }
    }
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}
