@import "../../config/sass/variables.scss";

$divider-nav-border-bottom: 1px solid darken($color-text-dark-second, 20%);

.container {
  margin: 15px;
  width: $sidebar-width;
  height: calc(100% - 50px);
  background-color: $color-bg-light;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.navHeading {
  color: $color-text-dark-second;
  font-size: 1.3rem;
  margin: 2rem 0 1rem 1rem;
}

.sidebarHeading {
  padding: 1.5rem 0;
  border-bottom: $divider-nav-border-bottom;
}

.sidebar {
  padding: 0 0.5rem;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: $divider-nav-border-bottom;
}
