@import "../../config/sass/variables.scss";

$divider-nav-border-bottom: 1px solid darken($color-text-dark-second, 20%);

.container {
  margin: 25px;
  padding-top: 25px; 
  width: $sidebar-width;
  height: calc(100% - 50px);
  background-color: $color-bg-light;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.navHeading {
  color: $color-text-dark-second;
  font-size: 1.3rem;
  margin: 2rem 0 1rem 1rem;
}

.sidebarHeading {
  padding-bottom: 1.5rem;
  border-bottom: $divider-nav-border-bottom;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: $color-text;
  margin: 2rem 0;
}

.sidebar {
  padding: 0 0.5rem;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: $divider-nav-border-bottom;
  &El {
    padding: 0.2rem 0;
    font-size: 1.5rem;
    color: $color-text-dark-second;
    margin: 0.2rem 0;
    display: flex;
    width: 100%;
    align-items: center;

    &:hover {
      background-color: $color-bg;
      cursor: pointer;
      color: $color-text;
      border-radius: 6px;
    }
  }

  &_icon {
    font-size: 2rem;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    color: $color-text-dark-second;
  }
}

.user {
  display: flex;
  flex-basis: row;
  vertical-align: middle;
}

.ppicture {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-left: 25px;
  margin-right: 15px;
  object-fit: cover;
}

.username {
  display: block;
  color: white;
  font-size: 28pt;
  line-height: 30pt;
}

.status {
  display: block;
  color: #C6C6D9;
  font-size: 14pt;
  line-height: 16pt;
}