@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.topbar {
  width: 100%;
  height: $topbar-height;
  background-color: $color-bg-light;
  padding: 0 0;
  @include center;
  justify-content: space-between;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: calc(#{$topbar-height} - 2 * #{$margin});
  margin: $margin;
  padding-left: $margin ;
  @include unselectable;
}

.rotatedIcon {
  transform: rotate(180deg);
}

.icon-light-color {
  color: #bdc3c7;
  font-size: 1.2rem;
}

.icon-btn-control {
  @include center;
  flex-direction: row;
  padding: 0 10px;

  & i {
    transition: 0.2s all;
    margin: 0 10px;
    font-size: 26px;
    color: $color-text-second;
    cursor: pointer;

    &:hover {
      color: lighten($color-text-second, 10%);
    }
  }

  & > i.icon-special {
    font-size: 26px;
    color: $color-primary;
    cursor: pointer;
    transition: 0.2s all;
    // animation: shadow-pulse 0.85s infinite;
    // animation-play-state: paused;
    // box-shadow: none;

    &:hover {
      color: lighten($color-primary, 10%);
    }
  }
}

.dropdownPaper {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  position: absolute;
  top: 44px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

.sbar {
  width: min-content;
  position: relative;
  @include center;
}

.search {
  font-size: 12, 5px;
  background-color: $color-bg;
  color: $color-text;
  padding: 5px 10px;
  border-radius: 5px;
  width: $searchbar-width-min;
  transition: 0.2s all;
  border: 1.5px solid transparent;

  &:focus {
    outline: none;
    border: 1.5px solid $color-primary;
    width: $searchbar-width-max;
  }

  &:focus ~ .search_icon_input {
    color: darken($color-text, 20%);
  }
}

.search_icon_input {
  position: absolute;
  font-size: 15px;
  right: 7px;

  color: darken($color-text, 60%);
}

.isearch {
  align-self: center;
  margin: 10px;
  height: 40px;
  width: 80px;
  background-color: $color-primary;
  border-radius: 8px;
  flex-direction: row;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s all;
  @include center;

  &:hover {
    background-color: lighten($color-primary, 5%);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.5);
  }

  & i {
    position: relative;
    transition: 0.2s all;
    font-size: 28px;
    color: $color-text;
    z-index: 11;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(#fff, 0.3);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(#fff, 0);
  }
}
