@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.topbar {
  width: 100%;
  height: $topbar-height;
  background-color: $color-bg;
  padding: 0 $margin;
  @include center;
  justify-content: space-between;
  box-shadow: 5px 0 5px darken($color-bg, 10%);
}

.start {
  align-items: center;
  display: flex;

  --height: 30px;

  & > div {
    display: none;
  }
}

.end {
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 30px;
  margin-left: $margin;
  @include unselectable;
}

.fa-caret-down {
  transition: transform $transition;
}

.rotatedIcon {
  transform: rotate(180deg);
}

.icon-light-color {
  color: #bdc3c7;
  font-size: 1.2rem;
}

.icon-btn-control {
  @include center;
  flex-direction: row;
  padding: 0 10px;

  & i {
    transition: all $transition;
    margin: 0 10px;
    font-size: 26px;
    color: $color-text-second;
    cursor: pointer;

    &:hover {
      color: lighten($color-text-second, 10%);
    }
  }

  & > i.icon-special {
    & > span > span {
      font-size: 26px !important;
      color: $color-primary !important;
      cursor: pointer !important;
      transition: all $transition !important;
    }
  }
}

.dropdownPaper {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  position: absolute;
  top: 44px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $color-bg-light !important;
  width: $searchbar-width-max;
}

.sbar {
  width: min-content;
  position: relative;
  @include center;
}

.search {
  font-size: 12, 5px;
  background-color: $color-bg-light;
  color: $color-text;
  padding: 5px 10px;
  border-radius: $default-border-radius;
  width: $searchbar-width-min;
  transition: all $transition;
  border: 1.5px solid transparent;

  &:focus {
    outline: none;
    background-color: lighten($color-bg, 4%);
    width: $searchbar-width-max;
  }

  &:focus ~ .search_icon_input {
    color: darken($color-text, 20%);
  }
}

.search_icon_input {
  position: absolute;
  font-size: 15px;
  right: 7px;

  color: darken($color-text, 60%);
}

.isearch {
  align-self: center;
  margin: 10px;
  height: 40px;
  width: 80px;
  background-color: $color-primary;
  border-radius: $default-border-radius;
  flex-direction: row;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  transition: all $transition;
  @include center;

  &:hover {
    background-color: lighten($color-primary, 5%);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.5);
  }

  & i {
    position: relative;
    transition: all $transition;
    font-size: 28px;
    color: $color-text;
    z-index: 11;
  }
}

@media (max-width: 700px) {
  .start div {
    display: block;
  }
}
