._137uQMmYZ9psIw-Unn1Z-W {
  display: flex;
  height: calc(100vh - 60px);
  flex-direction: column;
  padding: 12px;
  padding-bottom: 0; }

.nboLf3iydr03j5qHq142M {
  padding: 12px;
  width: 320px;
  background-color: #32393d;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 12px; }

._3_oby8tj5qLp_ceGqWUjT4 {
  height: 70px;
  overflow-y: auto;
  flex-grow: 100; }
  ._3_oby8tj5qLp_ceGqWUjT4::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #32393d; }
  ._3_oby8tj5qLp_ceGqWUjT4::-webkit-scrollbar {
    width: 7px;
    background-color: #32393d;
    border-radius: 100px; }
  ._3_oby8tj5qLp_ceGqWUjT4::-webkit-scrollbar-thumb {
    background-color: #1e2024;
    border-radius: 100px; }

._26jXYsUd1AVjV13b4Kb6L1 {
  flex-grow: 100; }

._2PB3hnb295yNtHiXpLgF6u {
  width: 100%; }
  ._3KdhE5TUwN2S40vL_0TYAQ {
    font-size: 16px;
    color: white;
    display: flex;
    width: 100%;
    align-items: center; }
    ._3KdhE5TUwN2S40vL_0TYAQ:hover {
      background-color: #1e2024;
      cursor: pointer;
      border-radius: 6px; }
  ._1t7N9dhjJQ-zdbUzFRqZCk {
    font-size: 12px;
    margin: 10px 12px;
    color: white;
    background-color: red; }

._2MiF9MaGaI8XFgW04ERC9i {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0; }
  ._2MiF9MaGaI8XFgW04ERC9i > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }
  ._2MiF9MaGaI8XFgW04ERC9i > ._1KQ-NvoGErn1ZYBVzWa-oa {
    height: min-content; }
  ._2MiF9MaGaI8XFgW04ERC9i ._3EhlUHYfBt0LGf-WgYnllf {
    position: absolute;
    top: 45px;
    left: 45px;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background-color: #66bb6a;
    border: solid #32393d 7px; }
  ._2MiF9MaGaI8XFgW04ERC9i span {
    display: block;
    line-height: 1.3; }
  ._2MiF9MaGaI8XFgW04ERC9i ._1Yu9GUNQCcxcZRbsl38eSk {
    color: white;
    font-size: 21px; }
  ._2MiF9MaGaI8XFgW04ERC9i .K5zvaUYf-ZTnzyw_KChs- {
    color: #cacaca;
    font-size: 13px; }

._3udlxEOJh_2G9Idomd0xc {
  text-decoration: none;
  position: relative;
  margin-right: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px; }
  ._3udlxEOJh_2G9Idomd0xc:hover {
    background-color: #1e2024; }
    ._3udlxEOJh_2G9Idomd0xc:hover ._3PvKRw8QHObFNgvv6tuA_V {
      border: solid #1e2024 5px; }
  ._3udlxEOJh_2G9Idomd0xc img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }
  ._3udlxEOJh_2G9Idomd0xc ._3EhlUHYfBt0LGf-WgYnllf {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    border: solid #32393d 5px; }
  ._3udlxEOJh_2G9Idomd0xc ._1Yu9GUNQCcxcZRbsl38eSk {
    display: block;
    color: white;
    font-size: 14, 5px;
    line-height: 1.2; }
  ._3udlxEOJh_2G9Idomd0xc .K5zvaUYf-ZTnzyw_KChs- {
    display: block;
    color: #cacaca;
    font-size: 13px;
    line-height: 1.2; }
  ._3udlxEOJh_2G9Idomd0xc ._1KQ-NvoGErn1ZYBVzWa-oa {
    margin-left: 10px; }

._105UZ_dBUWctEXUojICb1Y {
  background-color: #cf8300; }

._2zQ0dUbH2J1F_Je8KU8nhM {
  background-color: #c03b3b; }

.NMMcOXZE1vcdGTZ5ArQ8Q {
  background-color: #66bb6a; }

._3RcZrX3cgZJr64QsnsuHBK {
  background-color: #585e6a; }

.JKAG9fViihbDM5uLdhss0 {
  margin-right: 12px;
  align-items: center;
  display: flex;
  padding: 10px; }
  .JKAG9fViihbDM5uLdhss0:hover {
    background-color: #1e2024;
    border-radius: 5px; }

span:focus {
  border-bottom: 3px solid #ff9a60 !important;
  color: white !important; }

._37z27cVuaCGx49AOjABq9C {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

._5Y3LCjYFLaLqAPiQY2IHg {
  color: white;
  font-size: 15px;
  flex-grow: 100; }

.BuQ1UTgAvpGvJXalCIGFA {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9a60;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s;
  margin: 0 10px; }
  .BuQ1UTgAvpGvJXalCIGFA:hover {
    background-color: #ffba93;
    box-shadow: 0 2px 4px #1e2024; }
  .BuQ1UTgAvpGvJXalCIGFA i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    color: white; }

.f0QvsoDYkyphwVPVMQ4gY {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; }
  .f0QvsoDYkyphwVPVMQ4gY span {
    text-align: center;
    padding: 13px 0;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 3px solid #41454e;
    cursor: pointer;
    transition: 0.2s all;
    color: #cacaca; }
    .f0QvsoDYkyphwVPVMQ4gY span:hover {
      color: white; }

._1RTLLVZRxjzleNc3xsskO9 {
  font-size: 15px;
  color: #cacaca;
  text-decoration: none;
  padding: 2px 0;
  margin: 2px 0;
  display: flex;
  width: 100%;
  align-items: center; }
  ._4vfOEq8ynFgz-AI4JSPlw {
    font-size: 20px;
    padding: 10px;
    margin: 0 10px 0 10px;
    color: #cacaca; }
  ._1RTLLVZRxjzleNc3xsskO9:hover {
    background-color: #1e2024;
    cursor: pointer;
    color: white;
    border-radius: 6px; }
  ._1RTLLVZRxjzleNc3xsskO9:hover > ._4vfOEq8ynFgz-AI4JSPlw {
    color: #ff9a60; }

._1w0cJT_UwZPcVHhhvHMxHp {
  color: #cacaca;
  font-size: 13px;
  margin: 15px 0 15px 10px; }

._1m-yaVkZe3V6us4CJcB9OD {
  font-size: 89px; }

.WI2ZzuYunNKUnl6SRJhdl {
  font-size: 67px; }

._3GA1mfDrYIaITQE77uMzH2 {
  font-size: 50px; }

._3YmjOzz93uvkrizdOK8E_Z {
  font-size: 1.4rem;
  padding: 1rem 0; }

._10MeLdFgr246BYF-GkkEQ_ {
  font-size: 37px; }

._2QKxNHgAtwpyKXhsNoeZdS {
  font-size: 28px; }

._1ZxEDcby1kp9hErKxjgbdL {
  font-size: 21px; }

._1outjNDd2cnfOa1UOME6mf {
  font-size: 16px;
  text-indent: 2em; }

._3OqAs04VqHwYfM0Ne7x0-v {
  color: #f2f2f2; }

._1Gj8I4Zsu1KitCqwqKbP9Q {
  color: #333333; }

._3qudhdr38D_UbFlnp9RcsD {
  border-bottom: 3px solid #ff9a60 !important;
  color: white !important; }

#_3kwh7x4ISw2sdc56HmDvZN {
  background-color: #1e2024;
  height: 100vh; }

._27wvtJst_kNDV9CHJP0MIP {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

#_1vO7nIIcRqZ9HZwtzTFdOl {
  background-color: #1e2024;
  padding: 12px 0;
  flex: 1; }

@keyframes _3d6CvJSuK1iYbc8gE-fMKz {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

li {
  list-style: none;
  padding: 1em; }

#y459uD1o-NS6VebfzEvql {
  animation: _3d6CvJSuK1iYbc8gE-fMKz .3s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 32, 36, 0.7); }
  #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px #1e2024;
    border-radius: 10px;
    width: 65%;
    height: 65%;
    background-color: #32393d;
    padding: 12px;
    padding-right: 0; }
    #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > span {
      font-size: 29px;
      font-weight: 700;
      padding: 10px;
      color: white;
      text-align: center; }
    #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div {
      width: 100%;
      display: flex;
      flex: 1; }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a:nth-child(1) > ._1XyJ8esCAExFFW3iKjWWGH {
        background: linear-gradient(-45deg, #4c87af, #4ca1af); }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a:nth-child(2) > ._1XyJ8esCAExFFW3iKjWWGH {
        background: linear-gradient(-45deg, #396afc, #2948ff); }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a:nth-child(3) > ._1XyJ8esCAExFFW3iKjWWGH {
        background: linear-gradient(-45deg, #f5844b, #ff5e62); }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div.Pa39sytyxKS9r0nrDmVdo a {
        width: 0;
        flex: none;
        padding: 0;
        margin: 0; }
        #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div.Pa39sytyxKS9r0nrDmVdo a > .xRZDmcZ-NwXoz9S64Xe_u {
          opacity: 0; }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div.Pa39sytyxKS9r0nrDmVdo a.Pa39sytyxKS9r0nrDmVdo {
        width: 100%;
        flex: 1;
        padding: 12px;
        margin-right: 10px; }
        #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div.Pa39sytyxKS9r0nrDmVdo a.Pa39sytyxKS9r0nrDmVdo > .xRZDmcZ-NwXoz9S64Xe_u {
          opacity: 1; }
        #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div.Pa39sytyxKS9r0nrDmVdo a.Pa39sytyxKS9r0nrDmVdo > ._1XyJ8esCAExFFW3iKjWWGH {
          top: 0; }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a {
        cursor: pointer;
        flex: 1;
        position: relative;
        height: 100%;
        margin-right: 10px;
        border-radius: 10px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: flex .5s; }
        #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a > .xRZDmcZ-NwXoz9S64Xe_u {
          height: min-content;
          z-index: 100;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          transition: opacity .2s; }
          #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a > .xRZDmcZ-NwXoz9S64Xe_u span {
            text-align: center;
            line-height: 1.4; }
            #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a > .xRZDmcZ-NwXoz9S64Xe_u span:nth-child(1) {
              font-weight: 700;
              color: white;
              font-size: 29px; }
            #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a > .xRZDmcZ-NwXoz9S64Xe_u span:nth-child(2) {
              color: #cacaca;
              font-size: 21px; }
        #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a > ._1XyJ8esCAExFFW3iKjWWGH {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          border-radius: 10px;
          background-color: #fff;
          transition: top 0.3s ease-out;
          z-index: 11; }
        #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > div > a:hover > ._1XyJ8esCAExFFW3iKjWWGH {
          top: 0; }
    #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > i {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1e2024;
      cursor: pointer;
      transition: background-color .2s, box-shadow .2s;
      color: white;
      position: absolute;
      font-size: 20px;
      right: 0;
      top: 0;
      z-index: 20;
      transform: translate(50%, -50%); }
      #y459uD1o-NS6VebfzEvql ._2jWU8Vrf35DBfxfaFDJVdM > i:hover {
        background-color: #353940;
        box-shadow: 0 2px 4px #1e2024; }

._1QLhClawpbbVbhzwPKQnoW {
  width: 100%;
  height: 60px;
  background-color: #32393d;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; }

.k6VFwXFGn6RK1JF_TH_B_ {
  display: flex;
  justify-content: flex-end; }

._3JdhEBxEuRZQqim-fOHmTW {
  font-size: 28px;
  color: white;
  line-height: 60px;
  margin: 0 15px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

._37oAn3Y89ApEv1mw3qJ6Vt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px; }
  ._37oAn3Y89ApEv1mw3qJ6Vt i {
    transition: 0.2s all;
    margin: 0 10px;
    font-size: 26px;
    color: #cacaca;
    cursor: pointer; }
    ._37oAn3Y89ApEv1mw3qJ6Vt i:hover {
      color: #e4e4e4; }
  ._37oAn3Y89ApEv1mw3qJ6Vt > i.W905uihmewjDjQmTcAPZQ {
    font-size: 26px;
    color: #ff9a60;
    cursor: pointer;
    transition: 0.2s all; }
    ._37oAn3Y89ApEv1mw3qJ6Vt > i.W905uihmewjDjQmTcAPZQ:hover {
      color: #ffba93;
      box-shadow: 0 2px 4px #1e2024;
      animation-play-state: running; }

._1lLKVne6NzOc5jxDQaqfdJ {
  width: min-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

._2cfRFsWkV0IOTV97zsnJEY {
  font-size: 12, 5px;
  background-color: #1e2024;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px;
  transition: 0.2s all;
  border: 1.5px solid transparent; }
  ._2cfRFsWkV0IOTV97zsnJEY:focus {
    outline: none;
    border: 1.5px solid #ff9a60;
    width: 300px; }
  ._2cfRFsWkV0IOTV97zsnJEY:focus ~ ._3OuSyoTBJgkbRwdPL--H7k {
    color: #cccccc; }

._3OuSyoTBJgkbRwdPL--H7k {
  position: absolute;
  font-size: 15px;
  right: 7px;
  color: #666666; }

._1iTHvHqROHvFfxJb4waXh6 {
  align-self: center;
  margin: 10px;
  height: 40px;
  width: 80px;
  background-color: #ff9a60;
  border-radius: 8px;
  flex-direction: row;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center; }
  ._1iTHvHqROHvFfxJb4waXh6:hover {
    background-color: #ffaa7a;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.5); }
  ._1iTHvHqROHvFfxJb4waXh6 i {
    position: relative;
    transition: 0.2s all;
    font-size: 28px;
    color: white;
    z-index: 11; }

@keyframes _2rcGJ0uQJibexaglzD0I6L {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3); }
  100% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); } }

._3aaY7Db9vPcTgihF6NhNxj {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse; }
  ._3aaY7Db9vPcTgihF6NhNxj > .w8r5ZgswSqoyEsdYcCYqx {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px; }
    ._3aaY7Db9vPcTgihF6NhNxj > .w8r5ZgswSqoyEsdYcCYqx > input {
      font-size: 16px;
      background-color: #1e2024;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      transition: 0.2s all;
      border: 1.5px solid transparent;
      flex: 1; }
      ._3aaY7Db9vPcTgihF6NhNxj > .w8r5ZgswSqoyEsdYcCYqx > input:focus {
        outline: none;
        border: 1.5px solid #ff9a60; }
    ._3aaY7Db9vPcTgihF6NhNxj > .w8r5ZgswSqoyEsdYcCYqx i {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff9a60;
      cursor: pointer;
      transition: background-color .2s, box-shadow .2s;
      margin-left: 12px;
      color: white;
      padding-right: 2px; }
      ._3aaY7Db9vPcTgihF6NhNxj > .w8r5ZgswSqoyEsdYcCYqx i:hover {
        background-color: #ffba93;
        box-shadow: 0 2px 4px #1e2024; }

._3tgDwFZA_sjSAvZTCiGxD8 {
  overflow-y: auto;
  flex-grow: 100;
  height: 10px;
  flex-grow: 100;
  display: flex;
  flex-direction: column-reverse; }
  ._3tgDwFZA_sjSAvZTCiGxD8::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #32393d; }
  ._3tgDwFZA_sjSAvZTCiGxD8::-webkit-scrollbar {
    width: 7px;
    background-color: #32393d;
    border-radius: 100px; }
  ._3tgDwFZA_sjSAvZTCiGxD8::-webkit-scrollbar-thumb {
    background-color: #1e2024;
    border-radius: 100px; }

._1It5Ie3tRiocLh_ziqqFBH {
  color: white;
  background-color: #1e2024;
  align-self: flex-start;
  padding: 12px;
  margin: 12px;
  margin-right: calc(3 * 12px);
  margin-top: 0;
  border-radius: 10px; }
  ._1It5Ie3tRiocLh_ziqqFBH._2G2xGYyPVWwtOR835V-PMu {
    margin: 12px;
    margin-left: calc(3 * 12px);
    align-self: flex-end;
    background-color: #32393d;
    border: #ff9a60 4px solid; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

#IoDNnoLrVbc1VFd4LBVVZ {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

._36ZtNuIBxCDvEaBYCueabF {
  height: 100%;
  background-color: #32393d;
  border-radius: 10px;
  padding: 12px; }


/*# sourceMappingURL=styles.chunk.css.map*/