@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.main {
  height: 100%;
  padding: $margin;
}

.displayAvatar {
  margin: "20px";
}

.icon {
  color: $color-text;
  font-size: 1.3rem;
  margin-left: 10px;
}

.bg > div:nth-child(1) {
  @include bg;
}

.profileDialog {
  border-radius: $default-border-radius !important;
  background-color: $color-bg-light !important;
  padding: 10px;
  max-width: 90%;
  width: 500px;
  outline: none;
  height: auto !important;
}

.dialog-action-container {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dangerButton {
  background-color: $color-danger !important;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin: 5px;
}

.online {
  background-color: $color-ok;
}

.offline {
  background-color: #ccc;
}

.dnd {
  background-color: $color-danger;
}
