@import "../../config/sass/variables.scss";
@import "../../config/sass/mixins.scss";

.main {
    height: 100%;
    background-color: red;
    border-radius: 10px;
    padding: $margin;
    width: 100%;
  }


.displayAvatar {
    width: "100%";                                    
    margin: "20px";
    height: "100%";
}

.icon {
    color: $color-text;
    font-size: 1.3rem;
    margin-left: 10px;
}

.bg > div:nth-child(1){ 
    @include bg;
}

.profileDialog {
    @include popup;
    max-width: 90%;
    width: 500px;
    outline: none;
    height: auto !important;
}

.dangerButton {
    background-color: $color-danger !important;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin: 5px;
}

.online {
    background-color: $color-ok;
}

.offline {
    background-color: #ccc;
}

.dnd {
    background-color: $color-danger;
}

.close {
    cursor: pointer;
    font-size: 33px !important;
    position: fixed;
    right: 2.16%;
    top: 4.5%;
    z-index: 20;
    transform: translate(50%, -50%);
}